<div class="row">
    <div class="col-12 centext">
        <h1>Welcome to the App </h1>
        <br>
        <p>You are now logged in as {{currentUsername}}</p>
    </div>
</div>
<div class="row">
    <div class="col-12 centext">
        <form action="logout" method="GET">

            <input type="submit" value="Logout">

        </form>
    </div>
</div>