<div class="row">
    <div class="col-12 centext">
        <h1>Welcome, please login below</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 centext inblock">
        <form id="login-form" method="GET" action="/login" autocomplete="off">
            <p>Please enter your name : </p>
            <input type="text" name="username" id="login-form" placeholder="E.g John">
            <br>
            <p>Please enter your password : </p>
            <input type="password" name="userpass" id="login-form" placeholder="E.g @#Pas*WorD">
            <br>
            <input type="submit" value="Login">
        </form>
        <p>Not registered? Click
            <button>here</button>
        </p>
    </div>
</div>

<div class="row centext">
    <div class="col-12">
        <form id="register-form" method="POST" action="/register" autocomplete="off">
            <p>Please enter your new username : </p>
            <input type="text" name="regname" id="" placeholder="E.g John">
            <br>
            <p>Please enter your new password : </p>
            <input type="password" name="regpass" id="login-form" placeholder="E.g @#Pas*WorD">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>